<!DOCTYPE html>
<html>

<head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
	<nav>
		<img src="/assets/albatrossb.png" alt="brunston_albatross" style="width:125px;height:42px;">
		<ul>
			<li><a href="/">about</a></li>
			<li><a href="/contact">contact</a></li>
			<li><a href="/carillon">carillon</a></li>
			<li><a href="/projects">satellites & publications</a></li>
		</ul>
	</nav>
	<div class="container" style="text-align: justify">

		{{content}}

	</div><!-- /.container -->
	<footer>
		<ul>
			<li><a href="https://brunston.net/">© 2016-2024 Brunston Poon</a>
		</ul>
	</footer>
</body>

</html>
